<!DOCTYPE html>
<html lang="en">
  <head>
    <title>House Finder Results</title>
  </head>

  <body>
    <table>
      <tr>
        <th>Address</th>
        {% for objective in objectives %}
          <th>{{ objective.name }}</th>
        {% endfor %}
      </tr>

      {% for evaluated_listing in evaluated_listings %}
        <tr>
          <th>
            <a href="{{ evaluated_listing.listing.url }}">
              {{ evaluated_listing.listing.address }}
            </a>
          </th>

          {% for objective in objectives %}
            <td>{{ evaluated_listing.scores[objective.name] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
